*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* EB Garamond font */
.head-font {
  font-family: "EB Garamond", serif;
  color: #414040;
}

/* Poppins font*/
.p-font {
    font-family: "Poppins", sans-serif;
    color: #707070;
  }

     .more{
        display: none; 
    }
    .main:hover{
        transform: rotate(90deg);
    }
    .main:hover + .more {
        display: block;
    }
    .box:hover {
        display: flex;
        flex-direction: column;
    }

    
  